body {
    margin: 0;
    background-color: black;
    font-family: monospace;
}

button:hover {
    cursor: copy;
    filter: brightness(90%);
}

#palavraPC {
    position: absolute;
    word-wrap: break-word;
    text-align: center;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#palavraMob {
    position: absolute;
    word-wrap: break-word;
    text-align: center;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#copiarPC {
    border: none;
    position: fixed;
    right: 0%;
    width: 15%;
    height: 49.9%;
    top: 0%;
    background-color: darkgrey;
    box-shadow: 10px 10px 10px 10px black;
}

#copiarMob {
    border: none;
    position: fixed;
    right: 0%;
    width: 15%;
    height: 49.9%;
    bottom: 0%;
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px 10px black;
}

#telaPC {
    position: fixed;
    height: 49.9%;
    width: 85%;
    left: 0%;
    top: 0%;
    max-height: 49.9;
    word-break: break-all;
    max-width: 85%;
    overflow: auto;
}

#telaMob {
    position: fixed;
    height: 49.9%;
    width: 85%;
    left: 0%;
    bottom: 0%;
    max-height: 49.9%;
    word-break: break-all;
    max-width: 85%;
    overflow: auto;
}

#link {
    position: fixed;
    color: black;
    font-family: monospace;
    font-size: x-small;
    text-decoration: none;
    opacity: 60%;
    left: 0%;
    background-color: aliceblue;
    bottom: 0%;
    width: 85%;
    text-align: center;
}

#config {
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: X-small;
}

#configLista {
    position: absolute;
    list-style: square;
    list-style: none;
    padding: 0%;
    transform: translateX(-50%);
    left: 50%;
}

li {
    margin: 5px;
}

ul {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    border-radius: 2px;
}

#padrao,
#letras,
#numeros,
#letras_numeros,
#alf {
    border-radius: 2px;
    width: 100%;
    font-family: monospace;
    cursor: pointer;
    font-size: small;
    border: none;
}

#padrao {
    background-color: red;
}

#letras {
    background-color: tomato;
}

#numeros {
    background-color: yellow;
}

#letras_numeros {
    background-color: white;
}

#alf {
    background-color: aquamarine;
}

.hidden {
    display: none;
}

#Qp,
#Qm {
    font-size: xx-small;
    width: 55px;
    border: none;
    border-radius: 2px;
    background-color: snow;
    padding: 0%;
    text-align: center;
}


.letrasNumerosPCor {
    background-color: wheat;
}

.letrasPCor {
    background-color: tan;
}

.numerosPCor {
    background-color: gold;
}

.diversosPCor {
    background-color: firebrick;
}

.alfabetosPCor {
    background-color: springgreen;
}


.letrasNumerosMCor {
    background-color: steelblue;
}

.letrasMCor {
    background-color: coral;
}

.numerosMCor {
    background-color: palegoldenrod;

}

.diversosMCor {
    background-color: orangered;
}

.alfabetosMCor {
    background-color: turquoise;
}